.text-center {
    text-align: center;
}

body::before {

    font-family: 'Poppins', sans-serif;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg,
            rgba(58, 58, 158, 0.8),
            rgba(136, 136, 206, 0.7)),
        url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    display: block;
    margin: 8px;

}

form {
    padding: 2.5rem 0.625rem;
    background: rgba(27, 27, 50, 0.8);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
    width: 60%;
    margin: auto;
    display: block;
    margin-top: 0em;
    color: aliceblue;

}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-weight: 400;
    line-height: 1.2;
}

.text-center {
    text-align: center;
}

h1,
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1 {
    font-weight: 400;
    line-height: 1.2;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin-left: 20px;
}
.form-control {
    display: block;
    width: 80%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin: 20px;
}
textarea{
    width: 80%;
    margin: auto;
    border-radius: 5px;
    margin: 20px;
}
button{
    width: 80%;

    height: 50px;
    background-color: #37af65;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: auto;
    margin-left: 20px;
}